body {
    align-items: center;
    background-image: url("../images/blurreddark.jpg");
    background-attachment: fixed;
    background-position: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    justify-content: center;
    min-height: 100vh;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center; */
}

.contacts {
    display: grid;
}

.card {
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    width: 16rem;
}

.card-img-top {
    height: 150px;
    margin: 10px;
    width: 200px;
}

#card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title {
    align-items: center;
    font-size: 24px;
}

.card-text {
    align-items: center;
    font-size: 18px;
}

#card button {
    margin: 5px;
}


/* 
#contact-list {
    display: flex;
    
}

#contact-list li {
    justify-content: space-around;
}

#contact-list li button {
    align-items: flex-end;
    justify-content: flex-end;
    float: right;
    margin: 5px;
} 
*/